In [1]:
# Import the dependencies
import pandas as pd
import numpy as np
import datetime

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

# ORM Stuff
from sqlalchemy import create_engine, inspect, text, func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [2]:
 # CONNECT TO POSTGRES
USERNAME = "postgres"
PASSWORD = "postgres"
HOST = "localhost"
PORT = 5432
DATABASE = "Project_2_DB"
connection_str = f"postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Create Engine
engine = create_engine(connection_str)

In [3]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within the 'dow' table and its types
for table in tables:
    print(table)
    print("--------")
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

contacts
--------
contact_id INTEGER
first_name VARCHAR(20)
last_name VARCHAR(20)
email VARCHAR(60)

campaign
--------
cf_id INTEGER
contact_id INTEGER
company_name VARCHAR(25)
description VARCHAR(55)
goal INTEGER
pledged INTEGER
outcome VARCHAR(10)
backers_count INTEGER
country VARCHAR(2)
currency VARCHAR(3)
launch_date DATE
end_date DATE
category_id VARCHAR(5)
subcategory_id VARCHAR(8)

categories
--------
category_id VARCHAR(5)
category VARCHAR(25)

subcategories
--------
subcategory_id VARCHAR(8)
subcategory VARCHAR(25)

In [4]:
# ORDER MATTERS - categories
categories_df = pd.read_csv('Resources/category.csv')
categories_df.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [5]:
# Write to SQL (NOTE I AM USING con=engine) THIS IS WHAT WORKS APPARENTLY WHEN WRITING OUT DATA (stolen from Booth)
categories_df.to_sql(name="categories", con=engine, index=False, if_exists="append", method="multi")

9

In [6]:
# ORDER MATTERS - subcategories
subcategories_df = pd.read_csv('Resources/subcategory.csv')
subcategories_df.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [10]:
# Write to SQL (NOTE I AM USING con=engine) THIS IS WHAT WORKS APPARENTLY WHEN WRITING OUT DATA (stolen from Booth)
subcategories_df.to_sql(name="subcategories", con=engine, index=False, if_exists="append", method="multi")

24

In [9]:
# ORDER MATTERS - contacts
contacts_df = pd.read_csv('Resources/contacts.csv')
contacts_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/contacts.csv'

In [8]:
# ORDER MATTERS - campaign
campaign_df = pd.read_csv('Resources/campaign.csv')
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food/food trucks,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music/rock,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,technology/web,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,music/rock,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,theater/plays,theater,plays,cat4,subcat4